html{
	background-color: black;
	font-family: Verdana;
}

.head {
	color: white;
	text-align: center;
}

h1{
	font-weight: normal;
	font-size: 50px;
}

h2 {
	font-weight: 300;
	font-size: 42px;
}

p {
	text-align: center;
}

#info{
	font-size: 21px;
	color: Gray;
	text-align: center;
}

.link{
	text-align: center;
	color: aquamarine;
	font-size: 16px;
}

#foot{
	text-align: right;
	color: Gray;
}
